<%- include('header') %>
<div class="containerEdit">
    <form class="cardEdit" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <label> User </label>
        <input type="text" name="user" value="<%= review.user %>">

        <label> Location </label>
        <input type="text" name="location" value="<%= review.location %>">

        <label> Brewery </label>
        <input type="text" name="brewery" value="<%= review.brewery %>">

        <label> Img </label>
        <input type="text" name="img" value="<%= review.img %>">

        <label> Name </label>
        <input type="text" name="name" value="<%= review.name %>">

        <label> Style </label>
        <input type="text" name="style" value="<%= review.style %>">

        <label> ABV </label>
        <input type="number" name="abv" value="<%= review.abv %>">

        <label> Review </label>
        <input type="text" name="reviewBody" value="<%= review.reviewBody %>">

        <label> Score </label>
        <input type="number" max="5" name="score" step="any" value="<%= review.score %>">

        <input type="submit" class="submit-btn"  name="submit">
    </form>
    <a class="edit-btn" style="margin: 1rem auto;" href="/reviews">Back</a>
</div>

<%- include('footer') %>