<%- include('header') %>
<h2>Drink beer. Rate and review. Share.</h2>
<a class="index-a" href="/reviews/new">Add your own review!</a>
<section>
  <% allReviews.forEach(review => { %>
  <div class="card-idx">
    <div>
      <h1 class="user"><%= review.user %> is having...</h1>
      <h2 class="title"><%= review.name %></h2>
      <a href="/reviews/<%= review._id %>">
        <img src="<%= review.img %>" class="img-size img-border" alt="<%= review.name %>">
      </a>
    </div>
    <div class="idx-bottom">
      <a class="edit-btn" href="/reviews/<%= review._id %>">More</a>
      <a class="edit-btn" href="/reviews/<%= review._id %>/edit">Edit</a>
      <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
        <input class="delete-btn" type="submit" value="Delete">
      </form>
    </div>
  </div>
  </div>
  <% }) %>
</section>
<%- include('footer') %>
